@model PenSamples.Web.Models.StatusModel

@{
    ViewBag.Title = "Edit status";
}

<h3>Edit your status:</h3>

<form action="@Url.Action("ChangeStatus")" method="GET">
    <input type="text" name="status" value="@Model.Status"/>
    <input type="submit"/>
</form>