@model PenSamples.Web.Models.UserModel

@{
    ViewBag.Title = "User";
}

<p>My name is @Model.Name</p>
<p>My raw HTML Status is: @Model.Status</p>
<p>Want to learn more 'bout me? @Html.ActionLink("Check it out", "List", "Secrets")</p>