@model PenSamples.Web.Models.SecretsListModel

@{
    ViewBag.Title = "Secrets List";
}

<h2>My name is @Model.User, and those are all my secrets: </h2>

<ul>
    @foreach (var secret in Model.Secrets)
    {
        <li>
            <p>
                @secret.Description
            </p>
            <b>Posted by @secret.User</b>@Html.ActionLink("Read more spicy details ^_^", "Details")
        </li>
    }
</ul>